



<div class="main-content">
    <div class="wrap-banner">
        <!-- slide-show -->
        <div class="slideshow">
            <div class="tiva-slideshow-wrapper">
                <div id="tiva-slideshow" class="nivoSlider">
                    <a href="#" title="Slideshow image">
                        <img class="img-responsive" src="~/home/img/home/home3-banner.jpg" title="#caption1" alt="Slideshowimage">
                    </a>
                    <a href="#" title="Slideshow image">
                        <img class="img-responsive" src="~/home/img/home/home3-banner2.jpg" title="#caption2" alt="Slideshowimage">
                    </a>
                    <a href="#" title="Slideshow image">
                        <img class="img-responsive" src="~/home/img/home/home3-banner3.jpg" title="#caption3" alt="Slideshowimage">
                    </a>
                </div>
                <div id="caption1" class="nivo-html-caption">
                    <div class="tiva-caption">
                        <div class="left-right hidden-xs">
                            <p class="caption-1">
                                Modern <span>Designer</span> Chair
                            </p>
                        </div>
                    </div>
                </div>
                <div id="caption2" class="nivo-html-caption caption">
                    <div class="tiva-caption">
                        <div class="left-right hidden-xs">
                            <p class="caption-2">
                                <span class="text-1">Creative</span>
                                <span class="text-2">Furniture</span>
                                <span class="text-3">Design</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="caption3" class="nivo-html-caption caption">
                    <div class="left-right hidden-xs">
                        <div class="tiva-caption">
                            <p class="caption-3">
                                <span class="text-1">Creative</span>
                                <span class="text-2">Furniture</span>
                                <span class="text-3">Design</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- main -->
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <section class="page-home">
                    <!-- banner -->
                    <div class="section spacing-10 group-image-special">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="effect">
                                    <a href="#">
                                        <img class="img-fluid width-100" src="~/home/img/home/effect10.jpg" alt="banner-2" title="banner-2">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="effect">
                                    <a href="#">
                                        <img class="img-fluid width-100" src="~/home/img/home/effect11.jpg" alt="banner-2" title="banner-2">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- deal of the day -->
                    <div class="section deal-of-day">
                        <div class="container">
                            <div class="row">
                                <div class="new-arrivals prodcut-tab col">
                                    <div>
                                        <div class="title-tab-content product-tab">
                                            <div class="title-product text-center">
                                                <h2>Deal Of The Day</h2>
                                                <p>Hurry Up, The Same Time Is Not Extended !!!</p>
                                            </div>
                                            <div class="tab-content">
                                                <div id="deal_of_day" class="slick">
                                                    <div class="item text-center">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container">
                                                                <a href="">
                                                                    <img class="img-fluid" src="~/home/img/product/1.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="d-flex justify-content-center">
                                                                    <div class="days"></div>
                                                                    <div class="hours"></div>
                                                                    <div class="minutes"></div>
                                                                    <div class="seconds"></div>
                                                                </div>
                                                                <div class="product-groups">
                                                                    <div class="product-title">
                                                                        <a href=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item text-center">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container">
                                                                <a href="product-detail.html">
                                                                    <img class="img-fluid" src="~/home/img/product/3.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="d-flex justify-content-center">
                                                                        <div class="days"></div>
                                                                        <div class="hours"></div>
                                                                        <div class="minutes"></div>
                                                                        <div class="seconds"></div>
                                                                    </div>
                                                                    <div class="product-title">
                                                                        <a href=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item text-center">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container">
                                                                <a href="">
                                                                    <img class="img-fluid" src="~/home/img/product/5.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="d-flex justify-content-center">
                                                                        <div class="days"></div>
                                                                        <div class="hours"></div>
                                                                        <div class="minutes"></div>
                                                                        <div class="seconds"></div>
                                                                    </div>
                                                                    <div class="product-title">
                                                                        <a href=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item text-center">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container">
                                                                <a href="">
                                                                    <img class="img-fluid" src="~/home/img/product/1.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="d-flex justify-content-center">
                                                                    <div class="days"></div>
                                                                    <div class="hours"></div>
                                                                    <div class="minutes"></div>
                                                                    <div class="seconds"></div>
                                                                </div>
                                                                <div class="product-groups">
                                                                    <div class="product-title">
                                                                        <a href=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item text-center">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container">
                                                                <a href="">
                                                                    <img class="img-fluid" src="~/home/img/product/3.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="d-flex justify-content-center">
                                                                        <div class="days"></div>
                                                                        <div class="hours"></div>
                                                                        <div class="minutes"></div>
                                                                        <div class="seconds"></div>
                                                                    </div>
                                                                    <div class="product-title">
                                                                        <a href=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="item text-center">
                                                        <div class="product-miniature js-product-miniature item-one first-item">
                                                            <div class="thumbnail-container">
                                                                <a href="">
                                                                    <img class="img-fluid" src="~/home/img/product/5.jpg" alt="img">
                                                                </a>
                                                            </div>
                                                            <div class="product-description">
                                                                <div class="product-groups">
                                                                    <div class="d-flex justify-content-center">
                                                                        <div class="days"></div>
                                                                        <div class="hours"></div>
                                                                        <div class="minutes"></div>
                                                                        <div class="seconds"></div>
                                                                    </div>
                                                                    <div class="product-title">
                                                                        <a href=""></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
